.featuredTitleContainer,
.featuredProductContainer {
  display: flex;
  justify-content: center;
}
.featuredProductContainer h2 {
  text-align: center;
}
.featuredProductContainer .productTitle {
  text-align: center;
}
.featuredBrand {
  color: var(--cat);
  font-size: 2.4em;
  text-transform: uppercase;
}
.featuredModel {
  color: var(--zebra);
  font-size: 1.6em;
  padding-top: 10vh;
  margin-left: -5%;
}
.featuredProduct {
  width: 719px;
  height: auto;
}
.desPriceContainer {
  display: grid;
  grid-template-columns: 2fr 3fr;
  justify-items: center;
  align-items: center;
  color: #fff;
}
.descriptionCOntainer {
  background: #2b2b2b;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.descriptionCOntainer table tr {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 90px;
  border-bottom: 2px solid #fff;
}
.descriptionCOntainer table tr td {
  display: flex;
}
.priceContainer {
  background: #434343;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.priceContainer table tr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 90px;
  border-bottom: 2px solid #fff;
}
.descriptionCOntainer table,
.priceContainer table {
  padding: 50px 0;
}
