.ctas {
  background: var(--tiger);
  color: var(--dolphin);
  justify-content: center;
  align-items: center;
  margin-top: -7px;
  padding: 27px 0 30px 0;
}
.desky {
  display: block;
}
.dCta {
  width: 80vw;
  grid-template-columns: 3fr 1fr;
  justify-items: stretch;
  align-items: center;
}
.dCta .ctacontents {
  grid-template-columns: 1fr 6fr;
  justify-items: stretch;
  align-items: center;
}
.dCta .ctaTexts h1 {
  font-size: 2.8vw;
  font-weight: 600;
  line-height: 0.6em;
}
.dCta .ctaTexts p {
  font-size: 1.4vw;
  font-weight: 400;
  line-height: 1em;
}
.dCta .ctaButton a {
  text-decoration: none;
  display: inline-flex;
}
.dCta .ctaButton a p {
  background: var(--dolphin);
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 1.4em;
  font-weight: 500;
  color: var(--tiger);
  border: 3px solid var(--dolphin);
}
.dCta .ctaButton a p:hover {
  background: var(--polarbear);
  text-shadow: 0 2px #1e1e1e10;
}
.mCta {
  display: none;
}
@media screen and (max-width: 1023px) {
  .desky {
    display: none;
  }
  .mCta {
    display: block;
    padding: 5px 20px;
  }
  .mCta h1 {
    font-size: 7.4vw;
    font-weight: 500;
  }
  .mCta .ctacontent {
    align-items: center;
  }
  .mCta .ctacontent p {
    font-size: 0.8em;
  }
  .mCta .ctacontent span {
    font-weight: 600;
  }
  .mCta .ctacontent a {
    text-decoration: none;
    padding: 0 9px;
    margin: 0 6px;
  }
  .ctaButt {
    font-size: 1em;
    line-height: 0.4em;
    font-weight: 500;
    color: var(--tiger);
    justify-content: space-between;
    align-items: center;
    background-color: var(--dolphin);
    border-radius: 15px;
  }
  .ddeliverytruck {
    padding-right: 8px;
  }
}
