@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap");

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --white: #ffffff;
  --black: #343434;
  --gray: #f5f5f5;
  --gray-dark: #bababa;
  --theme: #9012ff;
  --themes: #f1612a;
  --themes-light: #f1622a25;
  --success: #008f39;
  --elephant: #7b7b7b;
  --raven: #333333;
  --tiger: #ff733b;
  --transparent-tiger: #ff723b66;
  --polarbear: rgba(255, 255, 255, 0.7);
  --dolphin: #f8f8f8;
  --panther: #2b2b2b;
  --zebra: #434343;
  --cat: #ff733be6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
}

body {
  color: var(--black);
  background: var(--white);
}

:where(.css-dev-only-do-not-override-18iikkb).ant-menu-dark
  .ant-menu-item-selected {
  background-color: var(--themes);
}

/* Viewcontiner */

.ViewContainer {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
}

/* ViewContentConter */

.ViewContentContainer {
  width: 80%;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 5rem;
  padding-bottom: 6em;
}

.changa {
  font-family: "Changa One", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--theme);
  text-decoration: none;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
}

.flexed {
  display: flex;
}

.grided {
  display: grid;
}

.flexed-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grided-center {
  display: grid;
  place-items: center;
}

.flexed-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexed-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexed-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flexed-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* login page start */

.login-content h1 {
  font-size: 50px;
  font-weight: 400;
}

.login-content p {
  font-size: 18px;
  color: #7d88a1;
}

.input-field {
  height: 40px;
  margin-top: 0.5rem;
}

.ant-input:focus {
  border-color: var(--themes);
}

.ant-input:hover {
  border-color: var(--themes);
  box-shadow: none;
}

.buttons {
  height: 40px;
  background-color: var(--themes);
  font-size: 18px;
  text-transform: uppercase;
}

:where(.css-dev-only-do-not-override-18iikkb).ant-btn-primary:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  background-color: var(--themes);
}

:where(.css-dev-only-do-not-override-nnuwmp).ant-btn-primary:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  background-color: var(--themes);
}

.heroSectionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/Images/Herobg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  /* margin-top: -100px; */
  padding-top: 10vh;
  margin: -100px auto 0;
}
@media screen and (max-width: 1023px) {
  .heroSectionContainer {
    background-image: url("/Images/herobgm.png");
    background-size: 98vw;
    background-position: left top;
    align-items: flex-start;
  }
  .bikeImage img {
    width: 98vw;
    height: auto;
  }
  .heroContainer h1 {
    padding-top: 3vh;
  }
}
.heroContainer {
  /* width: clamp(1170px, 80%, 4096px); */
  /* width: 100vw; */
  /* display: grid; */
  /* grid-template-columns: 1fr 3fr; */
  display: flex;
  justify-content: center;
  background-color: transparent;
  z-index: 11;
}
.heroContainer .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* .heroContainer .content .bikeImage {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
.heroContainer h1 {
  /* font-size: 9.4rem; */
  font-size: 9.5vw;
  line-height: 15vh;
  font-weight: 400;
  font-family: "Changa One", cursive;
  color: #ccc;
  text-transform: uppercase;
}
.heroContainer .content .review {
  display: flex;
  align-items: center;
}
.heroContainer .content .review p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #333;
  padding-right: 20px;
}
.heroContainer .content .review img {
  padding-left: 20px;
  border-left: 2px solid #ccc;
}
.bikeImage img {
  padding-top: 50px;
}

@media screen and (max-width: 1023px) {
  .heroSectionContainer,
  .heroContainer,
  .content,
  .bikeImage,
  .review,
  img,
  h1 {
    padding: 0;
    margin: 0;
  }
  .heroContainer {
    flex-direction: column-reverse;
  }
  .bikeImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bikeImage img {
    width: 80vw;
    height: auto;
  }
  .heroContainer .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heroContainer h1 {
    font-size: 8rem;
    line-height: 7.5rem;
  }
}

/* CTA */
.ctas {
  background: var(--tiger);
  color: var(--dolphin);
  justify-content: center;
  align-items: center;
  margin-top: -7px;
  padding: 27px 0 30px 0;
}
.desky {
  display: block;
}
.dCta {
  width: 80vw;
  grid-template-columns: 3fr 1fr;
  justify-items: stretch;
  align-items: center;
}
.dCta .ctacontents {
  grid-template-columns: 1fr 6fr;
  justify-items: stretch;
  align-items: center;
}
.dCta .ctaTexts h1 {
  font-size: 2.8vw;
  font-weight: 600;
  line-height: 1.6em;
}
.dCta .ctaTexts p {
  font-size: 1.4vw;
  font-weight: 400;
  line-height: 1em;
}
.dCta .ctaButton a {
  text-decoration: none;
  display: inline-flex;
}
.dCta .ctaButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dolphin);
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 1.4em;
  font-weight: 500;
  color: var(--tiger);
  border: 3px solid var(--dolphin);
}
.dCta .ctaButton:hover {
  cursor: pointer;
  background: var(--polarbear);
  text-shadow: 0 2px #1e1e1e10;
}
.mCta {
  display: none;
}
@media screen and (max-width: 1023px) {
  .desky {
    display: none;
  }
  .mCta {
    display: block;
    padding: 5px 20px;
  }
  .mCta h1 {
    font-size: 7.4vw;
    font-weight: 500;
  }
  .mCta .ctacontent {
    align-items: center;
  }
  .mCta .ctacontent p {
    font-size: 0.8em;
  }
  .mCta .ctacontent span {
    font-weight: 600;
  }
  .mCta .ctacontent a {
    text-decoration: none;
    padding: 0 9px;
    margin: 0 6px;
  }
  .ctaButt {
    font-size: 1em;
    line-height: 0.4em;
    font-weight: 500;
    color: var(--tiger);
    justify-content: space-between;
    align-items: center;
    background-color: var(--dolphin);
    border-radius: 15px;
  }
  .ddeliverytruck {
    padding-right: 8px;
  }
}

.galleryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.brand:hover {
  cursor: pointer;
  /* boxshadow: "0 0 10px rgba(0,0,0,0.1)"; */
  box-shadow: 0 0 10px rgba(255, 123, 0, 0.1);
}
